<div class="row justify-content-center banner">
  <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag "profile_picture.jpg", alt: "carlos_photo", class: 'avatar-large-square my-4' %>
    <h1 class="title-main">Carlos</h1>
  </div>
  <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center h-100">
  <h2>Fullstack Developer</h2>
  </div>
  <div class="navigation-buttons d-flex justify-content-center">
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-info-circle"></i>
      <span>About</span>
      <%= link_to "", "#about", class: 'navigation-button-link' %>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-chalkboard-teacher"></i>
      <span>Tutorials</span>
      <%= link_to "", "#tutorials", class: 'navigation-button-link' %>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-laptop-code"></i>
      <span>Projects</span>
      <%= link_to "", "#projects", class: 'navigation-button-link' %>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-play-circle"></i>
      <span>Video</span>
      <%= link_to "", "#videos", class: 'navigation-button-link' %>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-envelope"></i>
      <span>Contact</span>
      <%= link_to "", "#contact", class: 'navigation-button-link' %>
    </div>
  </div>
</div>
