<div class="row justify-content-center banner">
  <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center ">
    <%= image_tag "profile_picture.jpg", alt: "carlos_photo", class: 'avatar-large-square my-4' %>
    <h1 class="title-main">Carlos Topete</h1>
  </div>
  <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
    <h2>Front-end Developer</h2>
    <div class="navigation-button d-flex flex-row justify-content-center align-items-center pb-5">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg" />
    </div>
  </div>
  <div class="navigation-buttons d-flex justify-content-center pt-5 ">
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-info-circle"></i>
      <span>About</span>
      <%= link_to "", "#about", class: 'navigation-button-link' %>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-laptop-code"></i>
      <span>Projects</span>
      <%= link_to "", "#projects", class: 'navigation-button-link' %>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-play-circle"></i>
      <span>Video</span>
      <%= link_to "", "#videos", class: 'navigation-button-link' %>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-envelope"></i>
      <span>Contact</span>
      <%= link_to "", "#contact", class: 'navigation-button-link' %>
    </div>
  </div>
</div>
