<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Tutorials Section -->
  <%= partial 'partials/tutorials' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Video Section -->
  <%= partial 'partials/video' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
  <!-- Contact Section -->
  <%= partial 'partials/contact' %>
</div>
